<!DOCTYPE html>
<html>
  <head>
    <title> Tyler Rajotte's Digital Arts Page </title>
    <!-- With this site im putting in a javascript ban as it slows down sites
    and causes more issues than it solves this will be pure css and html -->
    <link rel="stylesheet" type="text/css" media="screen and (orientation: landscape)" href="./styles/desktop_stylesheet.css" />
    <link rel="stylesheet" type="text/css" media="screen and (orientation: portrait)" href="./styles/mobile_stylesheet.css" />
  </head>
  <body>
    <div id="centeredtitle">
      <div id="titlewrapper">
        <div id="title">Tyler Rajotte's Digital Arts Profile</div>
      </div>
    </div>
    <div id="flexboxbody">
|body|
    </div>
  </body>
</html>
