@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{
  margin: 0;
  background-color: rgb(10, 10, 10);
}
.hiddenlink{
  text-decoration: none;
}
#centeredtitle{
  display: flex;
  justify-content: center;
  align-items: center;
}
#titlewrapper{
  padding: 1%;
}
#title{
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-size: 2vw;
}
#textbody{
  width: 45vw;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 2vw;
}
#pageimage{
  width: 45vw;
  margin: 2vw;
}
#pagevideo{
  width: 45vw;
  height: 45vh;
  margin: 2vw;
}
#flexboxbody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
#flexboxpagebody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#mobilepagetext{
  display: none;
}
.flexboxchild{
  background-size: cover;
  width: 50%;
  height: 40vh;
}
.childcontainer{
  display:flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items:flex-end;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0 , 0, 0.5);
}
.childtitle{
  font-family: 'Roboto Mono', monospace;
  line-height: 0.9;
  text-align: right;
  text-decoration: none;
  color: white;
}
.childdate{
  font-family: 'Roboto Mono', monospace;
  font-size: 1vw;
  text-align: right;
  text-decoration: none;
  color: white;
  padding: 1vw;
}
.mediumtext{
  font-size: 5vw;
}
.largetext{
  font-size: 6vw;
}
